body {
    font-family: 'Nunito', sans-serif;
}
@-webkit-keyframes fadeInOut {
    100% {
        opacity: 1;
    }
    84% {
        opacity: .84;
    }
    50% {
        opacity: .5;
    }
    32% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    0% {
        opacity: 0;
    }
}
@keyframes fadeInOut {
    100% {
        opacity: 1;
    }
    88% {
        opacity: .88;
    }
    64% {
        opacity: .64;
    }
    52% {
        opacity: .52;
    }
    32% {
        opacity: 0;
    }
    0% {
        opacity: 0;
    }
}
.more_info {
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    -webkit-animation: fadeInOut 14s;
    animation: fadeInOut 14s;
}

.ready_for_more_info {
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    -webkit-animation: fadeInOut 6s;
    animation: fadeInOut 6s;
}

.logo {
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    -webkit-animation: fadeInOut 2s;
    animation: fadeInOut 2s;
}

.backup_links {
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    -webkit-animation: fadeInOut 10s;
    animation: fadeInOut 10s;
}
